@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}

.flip-animation {
  animation: flip 200ms ease-out;
}
